<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="film-form(action)" data-th-action="@{${action}}" method="post">
	<h1>Détail du film</h1>
	<ul class="flex-outer">
		<li>
			<label for="inputGenre">Genre : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.genre.titre}"></span>
			<input th:if="${action == '/modifier'}" type="text" id="inputGenre" th:value="${film.genre.titre}" />
		</li>
		<li>
			<label for="inputYear">Année : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.annee}"></span>
			<input th:if="${action == '/modifier'}" type="text" id="inputYear" th:value="${film.annee}" />
		</li>
		<li>
			<label for="inputTitle">Titre : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.titre}"></span>
			<input th:if="${action == '/modifier'}" type="text" id="inputTitle" th:value="${film.titre}" />
		</li>
		<li>
			<label for="inputDirector">Réalisateur : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.realisateur.prenom + ' ' + film.realisateur.nom}"></span>
			<input th:if="${action == '/modifier'}" type="text" id="inputDirector" th:value="${film.realisateur.prenom + ' ' + film.realisateur.nom}" />
		</li>
		<li>
			<label for="inputDuration">Durée : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.duree}"></span>
			<input th:if="${action == '/modifier'}" type="number" id="inputDuration" th:value="${film.duree}" />
		</li>
		<li th:if="${not #lists.isEmpty(film.acteurs)}">
			<label for="selectActors">Acteur(s) : </label>
			<span th:if="${#strings.isEmpty(action)}">
                <span th:each="acteur, iterStat : ${film.acteurs}">
       				<span th:text="'- ' + ${acteur.prenom + ' ' + acteur.nom}"></span>
					<span th:unless="${iterStat.last}"><br /></span>
    			</span>
            </span>
			<select th:if="${action == '/modifier'}" id="selectActors" multiple="multiple">
				<option th:each="acteur : ${film.acteurs}" th:text="'- ' + acteur.prenom + ' ' + acteur.nom"></option>
			</select>
		</li>
		<li>
			<label for="taSynopsis">Synopsis : </label>
			<span th:if="${#strings.isEmpty(action)}" th:text="${film.synopsis}"></span>
			<textarea th:if="${action == '/modifier'}" id="taSynopsis" th:text="${film.synopsis}" rows="3"></textarea>
		</li>
	</ul>
</form>
