
<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-header">
	<h1 id="nav-title">
		<a href="/">
			<img data-th-src="@{/images/logoFilmotheque.png}" alt="logo du site">
			Filmothèque
		</a>
		<th:block data-th-if="${loggedMembre != null && loggedMembre.id > 0}">
			<span data-th-text="'['+ ${loggedMembre.prenom} +']'"></span>
		</th:block>
	</h1>
	<nav>
		<ul>
			<li>
				<a href="/films">Films</a>
			</li>
			<li data-th-if="${loggedMembre != null && loggedMembre.id > 0 && loggedMembre.admin == true}">
				<a href="/films/creer">Créer</a>
			</li>
			<li>
				<a href="/membres">Contextes</a>
			</li>
		</ul>
	</nav>
</header>

<footer xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-footer">
	<p>&copy; ENI - Tous droits réservés</p>
</footer>
