<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Détails</title>
</head>
<body>
<h2>Film Details</h2>
<table>
    <tr>
        <th>Genre</th>
        <td data-th-text="${film.genre.titre}"></td>
    </tr>
    <tr>
        <th>Année</th>
        <td data-th-text="${film.annee}"></td>
    </tr>
    <tr>
        <th>Titre</th>
        <td data-th-text="${film.titre}"></td>
    </tr>
    <tr>
        <th>Réalisateur</th>
        <td data-th-text="${film.realisateur.nom}"></td>
    </tr>
    <tr>
        <th>Durée</th>
        <td data-th-text="${film.duree}"></td>
    </tr>
    <tr>
        <th>Acteurs</th>
        <td>
            <ul>
                <li data-th-each="acteur : ${film.acteurs}" data-th-text="${acteur.nom}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Synopsis</th>
        <td data-th-text="${film.synopsis}"></td>
    </tr>
</table>
</body>
</html>
