<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-filmotheque(
			titrePage=~{:: title},
			contenuPage=~{:: main},
			ressource=~{:: #css})}">
<head>
    <title>Film Detail</title>

    <th:block id="css">
        <link rel="stylesheet" data-th-href="@{/css/tp-form.css}">
    </th:block>

</head>
<body>
<main>
    <th:block data-th-unless="${loggedMembre != null && loggedMembre.admin == true}">
        <div data-th-replace="~{fragments/forms :: film-form('Détails', ~{})}"></div>
    </th:block>
    <th:block data-th-if="${loggedMembre != null && loggedMembre.admin == true}">
        <div data-th-replace="~{fragments/forms :: film-form('Modifier','/modifier')}"></div>
    </th:block>
</main>
</body>
</html>
